* {
  border: none;
  border-radius: 0;
  font-family: "SauceCodePro Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #282c34;
  color: #bcd1d6;
}

#workspaces button {
  padding: 0 8px;
  color: #ffffff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #282c34;
  border: #282c34;
  padding: 0 8px;
}

#workspaces button.focused {
  background: #00427a;
  color: #ffffff;
}

#mode, #pulseaudio, #cpu, #temperature, #memory, #network, #tray {
  color: #dce5d0;
  padding: 0 5px;
  margin: 0 0 0 5px;
}

#battery {
  color: #dce5d0;
}

#battery.charging {
  color: red;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  background: #00427a;
}
